<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/collections.css">
    <%- include("partials/header.ejs") %>
</head>

<body>
    <%- include("partials/loading.ejs") %>
        <header class="nav">
            <div class="brand">TuteeTutor Administration</div>
            <div class="nav-actions">
                <span class="nav-action">Welcome Username</span>
                <span class="nav-action"><a href="#">Change Password</a></span>
                <span class="nav-action"><a href="#">Logout</a></span>
            </div>
        </header>
        <div class="page-link">
            <p><span><a href="#">Home</a></span>><span><a href="#">Collections</a></span>><span><a href="#">
                        <%= presentPage %>
                    </a></span></p>
        </div>
        <div class="body">
            <div class="left">

            </div>
            <div class="right">
                <div class="heading">
                    <h2>Select <%= presentPage %> to change</h2>
                    <button>Add question</button>
                </div>
                <div class="options">
                    <h2>Action:</h2>
                    <select id="dropdown">
                        <option value="--------">--------</option>
                        <option value="Delete selected questions">Delete selected questions</option>
                    </select>
                    <button>Go</button>
                    <div class="data">
                        <table>
                            <thead>
                                <tr>
                                <td><input type="checkbox" id="collection"></td>
                                <% for(var i=1; i< keys.length;i++) { %>
                                    <% if(keys[i] !='password' ) {%>
                                        <td>
                                            <%= keys[i] %>
                                        </td>
                                        <% } %>
                                            <% } %>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0;i< data.length; i++){ %>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <% for(var j=1; j< keys.length;j++) { %>
                                            <% if(keys[j] !='password' ) {%>
                                                <td>
                                                    <%= data[i][keys[j]] %>
                                                </td>
                                                <% } %>
                                                    <% } %>
                                    </tr>
                                    <% } %>
                                <tr><td><%= data.length %> <%= presentPage %></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>