<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/adminNav.css">
  <link rel="stylesheet" href="/stylesheets/add.css">
  <%- include("partials/header.ejs") %>
</head>

<body>
  <%- include("partials/loading.ejs") %>
  <%- include("partials/adminNav.ejs") %>
  <%- include("partials/adminPageLink.ejs") %>
  <h2>Change <%= option %>
  </h2>
</body>

</html>